<div class="form-card">
    <form method="POST" enctype="multipart/form-data">
        <label>نام دانش‌آموز</label>
        <input type="text" name="name" placeholder="مثلاً آرمین" required>

        <label>کد دانش‌آموز</label>
        <input type="text" name="code" placeholder="مثلاً 1001" required>

        <label>پایه</label>
        <input type="text" name="grade" placeholder="مثلاً نهم" required>

        <label>شماره تماس</label>
        <input type="text" name="phone" placeholder="مثلاً 0912xxxxxxx" required>

        <label>عکس دانش‌آموز</label>
        <input type="file" name="photo" accept="image/*">

        <button type="submit" class="btn submit">ثبت</button>
    </form>
</div>
