<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>{{ 'ویرایش کتاب' if book else 'افزودن کتاب' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page form-page">
    <h1>{{ '✏️ ویرایش کتاب' if book else '➕ افزودن کتاب' }}</h1>

    <form method="post">
        <label>نام کتاب</label>
        <input type="text" name="title" value="{{ book.title if book else '' }}" required>

        <label>موضوع</label>
        <input type="text" name="subject" value="{{ book.subject if book else '' }}" required>

        <label>شماره قفسه</label>
        <input type="text" name="shelf" value="{{ book.shelf if book else '' }}" required>

        <button type="submit" class="btn add">ذخیره</button>
        <a href="/books" class="btn cancel">انصراف</a>
    </form>
</div>

</body>
</html>
