<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ثبت امانت کتاب</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page">
    <h1>📚 ثبت امانت جدید</h1>

    <form method="post">
        <label>انتخاب کتاب</label>
        <select name="book_id" required>
            {% for book in books %}
                <option value="{{ book.id }}">{{ book.title }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn">ثبت امانت</button>
        <a href="/member/{{ member_id }}" class="btn cancel">انصراف</a>
    </form>
</div>

</body>
</html>
