<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>داشبورد مدیریت</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="dashboard">
    <h1>📊 داشبورد مدیریت کتابخانه</h1>

    <div class="cards">
        <a href="/members" class="card">
            <h2>👥 اعضا</h2>
            <p>تعداد اعضا: {{ members_count }}</p>
        </a>

        <a href="/books" class="card">
            <h2>📚 کتاب‌ها</h2>
            <p>تعداد کل کتاب‌ها: {{ books_count }}</p>
        </a>

        <a href="/borrowed_books" class="card">
            <h2>📖 امانت داده شده</h2>
            <p>تعداد: {{ borrowed_count }}</p>
        </a>

        <a href="/free_books" class="card">
            <h2>📖 کتاب‌های آزاد</h2>
            <p>تعداد: {{ free_count }}</p>
        </a>

        <a href="/add_borrow_select" class="card">
            <h2>📖 ثبت امانت جدید</h2>
            <p>➕ اضافه کردن امانت</p>
        </a>
    </div>

    <div style="text-align:center; margin-top:30px;">
        <a href="/logout" class="btn info">🚪 خروج</a>
    </div>
</div>

</body>
</html>
