<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>پنل مدیریت کتابخانه</title>

    <!-- لینک به CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="dashboard">
    <h1>📚 پنل مدیریت کتابخانه</h1>

    <div class="cards">

        <div class="card">
            <h2>📖 مدیریت کتاب‌ها</h2>
            <p>مشاهده و ویرایش کتاب‌ها</p>
        </div>

        <div class="card">
            <h2>👨‍🎓 مدیریت اعضا</h2>
            <p>اطلاعات و عکس دانش‌آموزان</p>
        </div>

        <div class="card">
            <h2>🔄 امانت کتاب</h2>
            <p>ثبت و پیگیری امانت‌ها</p>
        </div>

        <div class="card">
            <h2>📊 گزارش‌ها</h2>
            <p>گزارش وضعیت کتاب‌ها</p>
        </div>

    </div>
</div>

</body>
</html>

</htm
