<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>اطلاعات دانش‌آموز</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="page">
    <h1>👤 اطلاعات دانش‌آموز</h1>

    <div class="profile-card">
        <img src="https://via.placeholder.com/160" class="profile-img">

        <div class="profile-info">
            <p><strong>نام:</strong> آرمین</p>
            <p><strong>کد دانش‌آموز:</strong> 1001</p>
            <p><strong>پایه:</strong> نهم</p>
            <p><strong>شماره تماس:</strong> 0912xxxxxxx</p>
        </div>
    </div>
</div>

</body>
</html>
