<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>لیست اعضا</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="page">
    <h1>👥 لیست اعضا</h1>

    <table class="members-table">
        <thead>
            <tr>
                <th>نام</th>
                <th>کد</th>
                <th>پایه</th>
                <th>شماره تماس</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>آرمین</td>
                <td>1001</td>
                <td>نهم</td>
                <td>0912xxxxxxx</td>
                <td>
                    <a href="member_detail.html?id=1001" class="btn info">اطلاعات</a>
                    <a href="add_member.html?id=1001" class="btn edit">ویرایش</a>
                </td>
            </tr>
            <tr>
                <td>آبتین</td>
                <td>1002</td>
                <td>نهم</td>
                <td>0912xxxxxxx</td>
                <td>
                    <a href="member_detail.html?id=1002" class="btn info">اطلاعات</a>
                    <a href="add_member.html?id=1002" class="btn edit">ویرایش</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
