<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>اطلاعات دانش‌آموز</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page">

    <h1>📘 اطلاعات دانش‌آموز</h1>

    <div class="member-card">

        <div class="member-photo">
            {% if member.photo_path %}
                <img src="{{ url_for('static', filename='photos/' ~ member.photo_path) }}">
            {% else %}
                <p>❌ بدون عکس</p>
            {% endif %}
        </div>

        <div class="member-info">
            <p><strong>نام:</strong> {{ member.name }}</p>
            <p><strong>کد:</strong> {{ member.code }}</p>
            <p><strong>پایه:</strong> {{ member.grade }}</p>
            <p><strong>شماره تماس:</strong> {{ member.phone }}</p>

            <a href="/edit_member/{{ member.id }}" class="btn edit">✏️ ویرایش اطلاعات</a>
            <a href="/members" class="btn">⬅️ بازگشت به لیست</a>
        </div>

    </div>

</div>

</body>
</html>
